
<style>


.make-big{font-size: 200px; align: center;}
</style>
<div class="row make-big"><center><span class="glyphicon glyphicon-search make-big"></span></center></div>
  <div class="jumbotron">
	<h1>UCSD Parking</h1>
	<p>Cut down on the time idling, and get in class.</p><center>
	<button type="button" class="btn btn-default">Find Parking <span class="glyphicon glyphicon-search"></span></button></center>
	</div>


	

