<!doctype html>
<html>
<head>
    <title>tritonPark :: Locator</title>  
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="images/favicon.png">
    

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        
    
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <script type="text/javascript" src="js/bootstrap-slider.js"></script>
    <script type="text/javascript" src="js/offcanvas.js"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
    <script type="text/javascript" src="js/gmaps.js"></script>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css"/>     
    <link rel="stylesheet" type="text/css" href="css/offcanvas.css"/>
    <link rel="stylesheet" type="text/css" href="css/slider.css"/>
    <style>
    .popup_content
    {
        color: #000 !important;
    }
    </style>
    <script type="text/javascript">
        var hour = 8; //global var so that all objects can access current hour. Initial to 8 am so we dont face NULL problems.
        var userCOORDS;
        var userLAT;
        var userLON;
        var map;
    </script>
    <script type="text/javascript">
        $(document).ready(function()
        {
            map = new GMaps(
            {
                el: '#map',
                lat: 32.8810,
                lng: -117.2380,
                zoom: 15
            });
            map.addMarker(
            {
                lat: 32.883985, 
                lng: -117.239276,
                title: 'Hopkins',
                infoWindow:
                {
                    content: '<p class="popup_content" style="width:200px; height: 200px; overflow: hidden;" id="hopkinIW">Hopkins</p>'
                },
                click: function(e)
                {
                    $.getJSON( "projected/Hopkins/A/"+hour, function(data)
                    {
                     
                    })
                      .done(function(data)
                      {
                        var LOT = data[0].LOT;
                        var AVG = data[0].AVG;
                       document.getElementById("hopkinIW").innerHTML = '<center><h3>'+LOT+'</h3></center><hr><center><h5> Average Number of Spaces Open at '+ hour + ':00</h5></center>'+ '<center><h2>'+AVG+'</h2></center><br />';
                      })
                      .fail(function(data)
                      {
                       
                      })
                      .always(function(data)
                      {

                      });
                }
            });
            map.addMarker(
            { 
                lat: 32.884326, 
                lng: -117.242982,
                title: 'Pangea',
                infoWindow:
                {
                    content: '<p class="popup_content" style="width:200px; height: 200px; overflow: hidden;" id="pangeaIW">Pangea</p>'
                },
                click: function(e)
                {
                    $.getJSON( "projected/Pangea/A/"+hour, function(data)
                    {
                     
                    })
                      .done(function(data)
                      {
                        var LOT = data[0].LOT;
                        var AVG = data[0].AVG;
                       document.getElementById("pangeaIW").innerHTML = '<center><h3>'+LOT+'</h3></center><hr><center><h5> Average Number of Spaces Open at '+ hour + ':00</h5></center>'+ '<center><h2>'+AVG+'</h2></center><br />';
                      })
                      .fail(function(data)
                      {
                       
                      })
                      .always(function(data)
                      {

                      });
                }
            });
            map.addMarker(
            { 
                lat: 32.877384, 
                lng: -117.233585,
                title: 'Gilman',
                infoWindow:
                {
                    content: '<p class="popup_content" style="width:200px; height: 200px; overflow: hidden;" id="gilmanIW">Gilman</p>'
                },
                click: function(e)
                {
                    $.getJSON( "projected/Gilman/A/"+hour, function(data)
                    {
                     
                    })
                      .done(function(data)
                      {
                        var LOT = data[0].LOT;
                        var AVG = data[0].AVG;
                       document.getElementById("gilmanIW").innerHTML = '<center><h3>'+LOT+'</h3></center><hr><center><h5> Average Number of Spaces Open at '+ hour + ':00</h5></center>'+ '<center><h2>'+AVG+'</h2></center><br />';
                      })
                      .fail(function(data)
                      {
                       
                      })
                      .always(function(data)
                      {

                      });
                }
            });
            map.addMarker(
            { 
                lat: 32.753918, 
                lng: -117.167601,
                title: 'Arbor',
                infoWindow:
                {
                    content: '<p class="popup_content" style="width:200px; height: 200px; overflow: hidden;" id="arborIW">Arbor</p>'
                },
                click: function(e)
                {
                    $.getJSON( "projected/Arbor/A/"+hour, function(data)
                    {
                     
                    })
                      .done(function(data)
                      {
                        var LOT = data[0].LOT;
                        var AVG = data[0].AVG;
                       document.getElementById("arborIW").innerHTML = '<center><h3>'+LOT+'</h3></center><hr><center><h5> Average Number of Spaces Open at '+ hour + ':00</h5></center>'+ '<center><h2>'+AVG+'</h2></center><br />';
                      })
                      .fail(function(data)
                      {
                       
                      })
                      .always(function(data)
                      {

                      });
                }
            });
            map.addMarker(
            { 
                lat: 32.753882, 
                lng: -117.164689,
                title: 'Bachman',
                infoWindow:
                {
                    content: '<p class="popup_content" style="width:200px; height: 200px; overflow: hidden;" id="bachmanIW">Bachman</p>'
                },
                click: function(e)
                {
                    $.getJSON( "projected/Bachman/A/"+hour, function(data)
                    {
                     
                    })
                      .done(function(data)
                      {
                        var LOT = data[0].LOT;
                        var AVG = data[0].AVG;
                       document.getElementById("bachmanIW").innerHTML = '<center><h3>'+LOT+'</h3></center><hr><center><h5> Average Number of Spaces Open at '+ hour + ':00</h5></center>'+ '<center><h2>'+AVG+'</h2></center><br />';
                      })
                      .fail(function(data)
                      {
                       
                      })
                      .always(function(data)
                      {

                      });
                }
            });
              map.addMarker(
            { 
                lat: 32.880557, 
                lng: -117.243445,
                title: 'P208',
                infoWindow:
                {
                    content: '<p class="popup_content" style="width:200px; height: 200px; overflow: hidden;" id="P208IW">P208</p>'
                },
                click: function(e)
                {
                    $.getJSON( "projected/P208/A/"+hour, function(data)
                    {
                     
                    })
                      .done(function(data)
                      {
                        var LOT = data[0].LOT;
                        var AVG = data[0].AVG;
                       document.getElementById("P208IW").innerHTML = '<center><h3>'+LOT+'</h3></center><hr><center><h5> Average Number of Spaces Open at '+ hour + ':00</h5></center>'+ '<center><h2>'+AVG+'</h2></center><br />';
                      })
                      .fail(function(data)
                      {
                       
                      })
                      .always(function(data)
                      {

                      });
                }
            });
        });

        
    </script>
</head>
    
<body>
    
    <!-- TOP NAVIGATION BAR -->

    <div class="navbar navbar-default navbar navbar-fixed-top" role="navigation">
      <div class="container">          
        <div class="navbar-header">
        <button type="button" class="navbar-toggle btn btn-primary btn-xs" data-toggle="offcanvas">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            
        </button>
          <a class="navbar-brand" href="/">tritonPARK</a>
        </div> 
      </div>
    </div>
    
    

   <div class="container">
        <div class="row row-offcanvas row-offcanvas-right">
            <div class="col-xs-12 col-sm-9">
                <div id="map" style="height: 500px; background-color:#000;"></div>
            </div>
          
            <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
              <div class="list-group">
                <a href="#" class="list-group-item active">Permit Type:</a>
                <a href="#" class="list-group-item">Student (S)</a>
                <a href="#" class="list-group-item">Graudate (B)</a>
                <a href="#" class="list-group-item">Faculty (A)</a>
                <a href="#" class="list-group-item">Visitor (V)</a>
              </div>
            </div><!--/span-->
        </div><!--/row-->
        <hr />
       <center>
        <div>
            <div class="col-lg-6 col-md-6">
                <div class="well">
                    <center>
                    When do you plan to park?
                        <br>
                    <input type="text" class="slider" value="8:00AM" id="sl1" data-slider-min="8" data-slider-max="17" data-slider-handle="round">
                    <p id="updateme">Select Hour</p>
                </div></center>
                
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="well">
                            <center>
                                <input id="spotinfo" class="form-control" type="text" placeholder="Name of Parking Lot / Structure, Type of Space Available, Time" />
                                <br>
                                <button type="submit" class="btn btn-primary" onclick="doSomething()">Open Spot Here!</button>
                            </center>               
                    </div>
                </div>  
    </div><!--/.container-->
    </center>
<script type="text/javascript">
$('.slider').slider(
{
  formater: function(value)
  {
     hour = value;
    var ampm = 'am';
    if(value > 12)
    {
        hour = value -12;
        ampm = 'pm';
    }
    if(value ==12)
    {
        ampm = 'pm'
    }
    return 'Current Time: '+hour + ':00 '+ampm;
  }
})
  .on('slideStop', function(ev){
            hour = ev.value;
            var ampm = 'am';

            if(ev.value > 12)
            {
                hour = ev.value -12;
                ampm = 'pm';
            }
                if(ev.value ==12)
    {
        ampm = 'pm'
    }
    document.getElementById("updateme").innerHTML = "Currently Selected Time: " + hour + ":00 "+ampm;
  });</script>
    <script type="text/javascript">

    var socket = io.connect();
      //$('#openparking').submit(function()
      function doSomething()
      {
        initiateGeoLocation();
        var myObject =
        {
            message: $('#spotinfo').val(),
            lat: userLAT,
            lon: userLON
        }
        socket.emit('realtime', myObject);
        $('#spotinfo').val('');
        return false;
      };

      socket.on('realtime', function(msg)
      {
        map.addMarker(
            {
                lat: msg.lat, 
                lng: msg.lon,
                title: msg.message,
                infoWindow:
                {
                    content: '<p class="popup_content" style="width:100px; height: 100px; overflow: hidden;" id="hopkinIW">'+msg.message+'</p>'
                }
            });
      });
   var initiateGeoLocation = function() {
        navigator.geolocation.getCurrentPosition(setNewCoordinates, null, {
            enableHighAccuracy: true,
            maximumAge: 0
        });
    };
    var setNewCoordinates = function(pos)
    {
        userCOORDS = pos.coords;
        userLAT = (Math.floor(userCOORDS.latitude*10000000)/10000000);
        userLON =  (Math.floor(userCOORDS.longitude*10000000)/10000000);
    };
    $(document).ready(initiateGeoLocation());
    </script>


</body>
</html>