<!doctype html>
<html>
<head>
    <title>tritonPARK :: locator</title>  
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="images/favicon.png">
    <link rel="apple-touch-icon" href="images/images/AppIcon60x60.png">
<link rel="apple-touch-icon" sizes="76x76" href="images/AppIcon76x76.png">
<link rel="apple-touch-icon" sizes="120x120" href="images/AppIcon60x60@2x.png">
<link rel="apple-touch-icon" sizes="152x152" href="images/AppIcon76x76@2x.png">
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-title" content="tritonPARK">
<meta name="viewport" content="initial-scale=1">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        
    
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <script type="text/javascript" src="js/offcanvas.js"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
    <script type="text/javascript" src="js/gmaps.js"></script>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css"/>     
    <link rel="stylesheet" type="text/css" href="css/offcanvas.css"/>
    <style>
    .popup_content
    {
        
        width: 150px;
        min-width: 150px;
        height: 165px !important;
        min-height: 165px !important;
        text-align: center;
    }
    #infobox
    {
      background-color: #ff1cae !important;
    }
    html, body
    {
      height:100% !important;
    }
    body
    {
      -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
      -moz-box-sizing: border-box;    /* Firefox, other Gecko */
      box-sizing: border-box;         /* Opera/IE 8+ */
    }
    .navbar
    {
      margin-bottom:0;
      box-shadow: 0px 8px 5px -5px #999;
    }
    .controls
    {
      box-shadow: 0px 8px 5px -5px #999;
      border: 2px solid #2c3e50;
    }
    .initHide
    {
      display: none;
    }
    #map
    {
      min-width:100%;
      width:100%;
        top: 60px;
        bottom: 0;
        position: absolute;
        min-height: 200px;
    }
    .gmnoprint
    {
      display: none;
    }
    .btn-wide
    {
      width: 100%;
      min-width: 100%;
      text-align: left;
    }
    .numOpen
    {
      font-size: 36px;
    }
    .navlogo
    {
      margin-top: -10px;
    }
    .navbar, .btn
    {
      background-image: url('images/nav.png');
    }
    </style>
    <script type="text/javascript">
        var userHOUR = 8; //global var so that all objects can access current hour. Initial to 8 am so we dont face NULL problems.
        var userCOORDS;
        var userLAT;
        var userLON;
        var map;
        var userPERMIT = 'S';

        $(document).ready(function()
        {
            map = new GMaps(
            {
                el: '#map',
                lat: 32.8810,
                lng: -117.2380,
                zoom: 15
            });
            setupMap();
        });
        
    </script>
</head>
    
<body>
    
    <!-- TOP NAVIGATION BAR -->

    <div class="navbar navbar-default  navbar-fixed-top" role="navigation">
              
        <div class="navbar-header">
        
        <button type="button" class="navbar-toggle btn btn-primary btn-xs" data-toggle="offcanvas">
            <span class="glyphicon glyphicon-list"></span>
            
        </button>
        <button type="button" class="navbar-toggle btn btn-primary btn-xs" data-toggle="modal" data-target="#myModal">
        <span class="glyphicon glyphicon-map-marker"></span>
        </button>
        <button type="button" class="navbar-toggle btn btn-primary btn-xs" data-toggle="modal" data-target="#myModal2">
        <span class="glyphicon glyphicon-phone"></span>
        </button>
          <a class="navbar-brand" href="/"><img src="images/sw.png" class="navlogo">tritonPARK</a>
        </div> 
      
    </div>

        <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Leaving Spot Open</h4>
          </div>
          <div class="modal-body">
             <form class="form-group" id="makeNotify">
                                <input id="spotinfo" class="form-control" type="text" placeholder="Spot Comments" />
                                
                                
          </div>
          <div class="modal-footer">
            
            <button type="submit" class="btn btn-primary pull-right" onclick="">Notify Others</button>
          </div>
          </form>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Set Parking Expiriation Reminder</h4>
          </div>
          <form id="form1">
          <div class="modal-body">
             <div class="form-group">
                <label for="num">Phone Number</label>
                <input type="phone" class="form-control" id="num" placeholder="8585340000">
            </div>
             <div class="form-group">
                <label for="hour">Hour</label>
                <input type="number" min="0" max="24" class="form-control" id="hour" placeholder="5">
            </div>
             <div class="form-group">
                <label for="min">Minute</label>
                <input type="number" min="0" max="60" class="form-control" id="min" placeholder="30">
                <input type="hidden" id="message" value="Your parking permit is expired. Please renew it or move your vehicle.">
            </div> 
            <div class="alert alert-success initHide" id="textGood">Reminder Scheduled</div> 
            <div class="alert alert-danger initHide" id="textError">Failed to Schedule</div>               
          </div>
          
          <div class="modal-footer">
            
            <button type="submit" class="btn btn-primary pull-right" onclick="">Set Reminder</button>
          </div>
          </form>
        </div>
      </div>
    </div>
    
    
<div id="map"></div>

        <div class="row row-offcanvas row-offcanvas-right ">
          <div class="col-xs-12 col-sm-9">
                
            </div>
            <div class="col-xs-6 col-sm-3 sidebar-offcanvas well controls" id="sidebar" role="navigation">
            <h4>Permit Type:</h4>
              <div class="list-group" style="padding-right: 20px;">
                
                <a href="#" class="list-group-item active" onclick="setPermitType('S')">Student (S)</a>
                <a href="#" class="list-group-item" onclick="setPermitType('B')">Graudate (B)</a>
                <a href="#" class="list-group-item" onclick="setPermitType('A')">Faculty (A)</a>
                <a href="#" class="list-group-item" onclick="setPermitType('V')">Visitor (V)</a>
              </div>
              <div class="pull-left">
                <h4>Time to Park:</h4>
                <div class="input-group input-group-sm" style="padding-right: 20px;">
                  <span class="input-group-btn">
                    <button class="btn btn-primary" type="button" onclick="doTime('m')"><span class="glyphicon glyphicon-minus"></span></button>
                  </span>
                  <input type="text" class="form-control" id="hourbox" value="8:00 am" />
                  <span class="input-group-btn">
                    <button class="btn btn-primary" type="button" onclick="doTime('p')"><span class="glyphicon glyphicon-plus"></span></button>
                  </span>
                </div><!-- /input-group -->
              </div>
              <div class="pull-left visible-lg visible-md visible-sm">
                <h4>Tools:</h4>
                <div class="row" style="padding-right: 20px;">
                <div class="col-lg-12 col-md-12 col-sm-11">
                  <button type="button" class="btn btn-primary btn-md btn-wide" data-toggle="modal" data-target="#myModal">
                    <span class="glyphicon glyphicon-map-marker"></span>Notify Others of Open Spot
                </button>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-11" style="padding-top: 10px;">
                <button type="button" class="btn btn-primary btn-md btn-wide" data-toggle="modal" data-target="#myModal2">
                    <span class="glyphicon glyphicon-phone"></span> Set Expiration Reminder
                </button>
                </div>
                </div><!-- /input-group -->
              </div>

            </div><!--/span-->

            
        </div><!--/row-->

    </center>

    <script type="text/javascript">

    var socket = io.connect();

      function doNotify()
      {
        initiateGeoLocation();
        var myObject =
        {
            message: $('#spotinfo').val(),
            lat: userLAT,
            lon: userLON
        }
        socket.emit('realtime', myObject);
        $('#spotinfo').val('');
        $('#myModal').modal('hide')
        return false;
      };

      socket.on('realtime', function(msg)
      {
        map.addMarker(
            {
                lat: msg.lat, 
                lng: msg.lon,
                title: msg.message,
                icon  : 'http://maps.google.com/mapfiles/kml/paddle/ylw-stars.png',
                infoWindow:
                {
                    content: '<p class="popup_content" style="width:100px; height: 100px; overflow: hidden;" id="hopkinIW">'+msg.message+'</p>'
                }
            });
      });
   var initiateGeoLocation = function() {
        navigator.geolocation.getCurrentPosition(setNewCoordinates, null, {
            enableHighAccuracy: true,
            maximumAge: 0
        });
    };
    var setNewCoordinates = function(pos)
    {
        userCOORDS = pos.coords;
        userLAT = (Math.floor(userCOORDS.latitude*10000000)/10000000);
        userLON =  (Math.floor(userCOORDS.longitude*10000000)/10000000);
    };

    var setPermitType = function(permitType)
    {
        map.hideInfoWindows();
        userPERMIT = permitType;
    }


    $('.list-group-item').on('click',function(e){
    var previous = $(this).closest(".list-group").children(".active");
    previous.removeClass('active'); // previous list-item
    $(e.target).addClass('active'); // activated list-item
  });
    setInterval(function(){map.removeMarkers();}, 180*1000 );
    setInterval(setupMap, 180*1000 );
    $(document).ready(initiateGeoLocation());
    function doTime(operation)
    {
      map.hideInfoWindows();
      if(operation === 'p')
      {
        if(userHOUR+1 > 17) return;
        userHOUR = userHOUR+1;
      }
      if(operation === 'm')
      {
        if(userHOUR-1 < 8) return;
        userHOUR = userHOUR -1;
      }
      var ampm = 'am';
      var displayHour = userHOUR;
      if(displayHour > 12)
      {
        displayHour = displayHour - 12;
        ampm = 'pm';
      }
      if(displayHour === 12)
      {
        ampm = 'pm';
      }


      $('#hourbox').val(displayHour+":00 "+ampm);
    };

    function setupMap()
    {
      var jqxhr = $.getJSON( "/geo", function(){})
      .done(function(data)
      {
        var nums = data.length;
        for(var i =0; i<nums; i++)
        {
          map.addMarker(
          {
              lat: data[i].LAT, 
              lng: data[i].LON,
              title: data[i].LOT,
              icon  : '/images/parking.png',
              details:
              {
                LOT: data[i].LOT
              },
              infoWindow:
              {
                  //content: '<div class="popup_content" style=" min-height: 300px !important; overflow: hidden;" id="'+data[i].LOT+'IW">'+data[i].LOT+'</div>'
                  content:'<div class="popup_content"><div class="panel panel-default"><div class="panel-heading"><h1 class="panel-title"><div id="'+data[i].LOT+'IWT">'+data[i].LOT+'</div></h1></div><div class="panel-body"><div id="'+data[i].LOT+'IW" class="numOpen"></div></div><div class="panel-footer">projected open</div></div></div>'
              },
              click: function(e)
              {
                  
                  var ourLOT = e.details.LOT
                  $.getJSON( "projected/"+ourLOT+"/"+userPERMIT+"/"+userHOUR, function(data)
                  {
                   
                  })
                    .done(function(data)
                    {
                      var LOT = e.details.LOT;
                      var AVG = data[0].AVG;
                      document.getElementById(LOT+"IW").innerHTML = AVG;
                      document.getElementById(LOT+"IWT").innerHTML = LOT;

                    });
              }
          });    
        }
      });
    };

    $('#form1').submit(function(event) {
                event.preventDefault();
                alert($(this).serialize);
                var data = {};
                data.num = $( "#num" ).val()
                data.hour = $( "#hour" ).val()
                data.min = $( "#min" ).val()
                data.message = 'Your parking permit is expired. Please renew it or move your vehicle.'
                $.ajax({
                        type: 'POST',
                        url: '/notify',
                        data: data,
                        dataType: 'json',
                        success: function (data)
                        {
                          $("#textGood").show();
                        },
                        error: function(data)
                        {
                           $("#textError").show();
                        }
                });
        });

    $('#makeNotify').submit(function(event){
      event.preventDefault();
      doNotify();
    });

    </script>


</body>
</html>