<!doctype html>
<html>
<head>
    <title>parkTRITON :: locator</title>  
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        
    
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <script type="text/javascript" src="js/bootstrap-slider.js"></script>
    <script type="text/javascript" src="js/offcanvas.js"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
    <script type="text/javascript" src="js/gmaps.js"></script>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css"/>     
    <link rel="stylesheet" type="text/css" href="css/offcanvas.css"/>
    <link rel="stylesheet" type="text/css" href="css/slider.css"/>
    <style>
    .popup_content
    {
        color: #000 !important;
    }
    </style>
    <script type="text/javascript">
        var hour = 8; //global var so that all objects can access current hour. Initial to 8 am so we dont face NULL problems.
    </script>
    <script type="text/javascript">
        $(document).ready(function()
        {
            var map = new GMaps(
            {
                el: '#map',
                lat: 32.8810,
                lng: -117.2380,
                zoom: 14
            });
            map.addMarker(
            {
                lat: 32.883985, 
                lng: -117.239276,
                title: 'Hopkins',
                infoWindow:
                {
                    content: '<p class="popup_content" style="width:200px; height: 200px; overflow: hidden;" id="hopkinIW">Hopkins</p>'
                },
                click: function(e)
                {
                    $.getJSON( "projected/Hopkins/A/"+hour, function(data)
                    {
                     
                    })
                      .done(function(data)
                      {
                        var LOT = data[0].LOT;
                        var AVG = data[0].AVG;
                       document.getElementById("hopkinIW").innerHTML = '<h2>'+LOT+'</h2><hr /><h4>Average Open: '+AVG+'<br />at '+hour+':00</h4>';
                      })
                      .fail(function(data)
                      {
                       
                      })
                      .always(function(data)
                      {

                      });
                }
            });
        });

        
    </script>
</head>
    
<body>
    
    <!-- TOP NAVIGATION BAR -->

    <div class="navbar navbar-default navbar navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
        <button type="button" class="navbar-toggle btn btn-primary btn-xs" data-toggle="offcanvas">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

          <a class="navbar-brand" href="#">parkTRITON</a>
        </div>

          
     

      </div>
    </div>
    
    

   <div class="container">
        <div class="row row-offcanvas row-offcanvas-right">
            <div class="col-xs-12 col-sm-9">
                <div id="map" style="height: 500px; background-color:#000;"></div>
            </div>
          
            <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
              <div class="list-group">
                <a href="#" class="list-group-item active">Permit Type:</a>
                <a href="#" class="list-group-item">Student (S)</a>
                <a href="#" class="list-group-item">Graudate (B)</a>
                <a href="#" class="list-group-item">Faculty (A)</a>
                <a href="#" class="list-group-item">Visitor (V)</a>
              </div>
            </div><!--/span-->
        </div><!--/row-->
        <hr />
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="well">
                    <input type="text" class="slider" value="12:00AM" id="sl1" data-slider-min="8" data-slider-max="17" data-slider-handle="square">
                    <p id="updateme">Ready to find parking</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="well">
                    <form action="">
                        
                            <input id="spotinfo" class="form-control" type="text" placeholder="Describe the Spot!" />
                        
                        
                            <button type="submit" class="btn btn-primary" onclick="getLocation()">Open Spot Here!</button>
                        
                    </form>
                  
            </div>
        </div>  
    </div><!--/.container-->
<script type="text/javascript">
$('.slider').slider(
{
  formater: function(value)
  {
     hour = value;
    var ampm = 'am';
    if(value > 12)
    {
        hour = value -12;
        ampm = 'pm';
    }
    if(value ==12)
    {
        ampm = 'pm'
    }
    return 'Current Time: '+hour + ':00 '+ampm;
  }
})
  .on('slideStop', function(ev){
            hour = ev.value;
            var ampm = 'am';

            if(ev.value > 12)
            {
                hour = ev.value -12;
                ampm = 'pm';
            }
                if(ev.value ==12)
    {
        ampm = 'pm'
    }
    document.getElementById("updateme").innerHTML = "Currently Selected Time: " + hour + ":00 "+ampm;
  });</script>
    <script type="text/javascript">

    var socket = io.connect();
      $('form').submit(function()
      {
        var myObject =
        {
            message: $('#spotinfo').val()
        }
        socket.emit('realtime', myObject);
        $('#spotinfo').val('');
        return;
      });
      socket.on('realtime', function(msg)
      {
        alert(msg.message);
      });

    </script>


</body>
</html>