
<style>
.make-big{font-size: 200px; align: center;}
</style>
<br>
<br>
<h3>Look for Parking</h3>

Choose your Parking Permit Type: 
<!--Code for dropdown menu, select permit-->

<center>I'm planning to stay</center>
<br>
<br>
<!-- If user does not select time
    display table of all available times; 
    otherwise, use validation to make sure
    that both time slots are filled in -->
<center>From</center>


<center>Until</center>


Estimated Time:

<center><a href=findspot.ejs><button>Find Me A Spot!</button></a></center>